/*div {
    outline: 1px solid red;
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.IndexMessage
{
    font-size: 16px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand { background-color: #3399CC; color: white; }
.navbar-brand:visited { background-color: #3399CC; color: white; }
.navbar-default-color { background-color: #3399CC; color: white; }
.navbar-brand { background-color: #3399CC !important; color: white; }
.navbar-brand:visited { background-color: #3399CC !important; color: white; }
.navbar-default-color { background-color: #3399CC !important; color: white; }
.navbar-inverse { background-color : #3399CC !important; color: white; }
.nav.navbar-nav li a { 
   color: white;
 }
.nav.navbar-nav li a:hover { 
   background-color: #5da7cc;
 }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#CreateGroupWindow
{
    margin-top: 50px;
    height: 500px;
    font-size: 20px;
    height: 600px;
    /*box-shadow: 15px 15px 25px grey;*/
    /*background-color: green;*/
}

/*#addUsersToGroup
{
    height: 400px;
    background-color: white;
    overflow: auto;
}

#createGroupTable
{
    height: 500px;
}*/
.markdown{
    background-color: rgba(0,0,0,0.02);
    border:1px solid rgba(0,0,0,0.04);
    padding: 6px 12px;
}

.markdownResult {
    background-color: rgba(0,0,0,0.02);
    border:1px solid rgba(0,0,0,0.04);
    padding: 6px 12px;
    max-height: 650px !important;
    overflow: hidden;
    height: 650px;

    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
    box-shadow:         inset 0 0px 15px rgba(0,0,0,0.1);
}

.mdDivWrapper
{
    margin-top:10px;
    margin-bottom:10px;
}

.markdownEditorForm
{
    height: 650px;
}

.navbar-inverse
{
    border: none;
}

.markdownEditor {
    height: 650px !important;
    min-width: 100%;
    resize: none;
}

.markdownEditor .form-control {
    height: 400px;
}

#loginWallaper
{
    background: lightblue;
    background: linear-gradient(to bottom right, lightblue, yellow);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.createGroupTextBoxes
{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

#createGroupWindow2
{
    margin-top: 50px;
    height: 400px;
    /*background-color: lightgrey;*/
    border: solid 1px grey;
}

#createGroupTitle
{
    height: 80px;
    background-color: #3399CC;
    color: white;
}

.addGroupOrUser
{
    height: 80px;
    background-color: #3399CC;
    padding-top: 25px;
    padding-left: 30px;
}

#groupTitle
{
    height: 100px;
    /*background-color: orange;*/
}

#groupDescription
{
    height: 140px;
    /*background-color: blue;*/
}

#groupConfirm
{
    height: 80px;
    /*background-color: pink;*/
}

#groupConfirmButton
{
    /*background-color: brown;*/
    height: 80px;
    padding-top: 25px;
    padding-left: 100px;
}

#SkapaGruppTitel
{
    /*background-color: #F8F8F8;*/
    height: 250px;
    font-size: 70px;
    padding-top: 120px;
    /*padding-left: 50px;*/
    color: #909090; 
}

#addDocumentToGroup
{
    height: 250px;
    /*background-color: pink;*/
    border-left: lightgray 1px solid;
}

#addUserToGroup
{
    height: 250px;
    /*background-color: yellow;*/
    overflow:auto;
}

#nameGroup
{
    /*background-color: green;*/
    height: 250px;
    padding-top: 30px;
}

input[type="text"]{
background-color:#F8F8F8 !important
}

#checkboxName
{
    height: 30px;
    /*background-color: yellow;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

#checkboxAdmin
{
    height: 30px;
    /*background-color: green;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

#checkboxEdit
{
    height: 30px;
    /*background-color: blue;*/
    margin-top: 5px;
    margin-bottom: 5px;
}