@model MarkdownManagerNew.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <br />
    <div class="col-sm-12">
        <span class="text-info IndexMessage">@ViewBag.message</span>
    </div>
</div>

